body {
  width: 100vw;
  height: 100vh;
  background: #2980B9;  /* fallback for old browsers */
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
  margin: 0;
  display: inline-block;
}

.container {
  width: 100%;
  min-width: 280px;
  max-width: 700px;
  height: 100vh;
  background: #fff;
  box-shadow: -1px 2px 7px #fafafa;
  padding: 20px;
}

.container h1 {
  margin: 0;
  padding: 10px;
}

.input-area {
  height: 40px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.input-area input {
  width: 100%;
  font-size: 16px;
  color: #3892c7;
  border: 1px solid #3892c7;
  padding: 0 10px;
  display: inline-block;
}

.input-area button {
  width: 50px;
  color: #fff;
  background: #3892c7;
  border: none;
  border-radius: 0;
  font-size: 16px;
}

.task-area {
  height: 83vh;
  overflow: auto;
  margin: 10px 0 0 0;
}

.task-tab {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  border: 1px solid #53b5e2;  
}

.task-tab li {
  list-style: none;
  padding: 8px 10px;
}

.task-tab li.active {
  font-weight: 500;
  color: #3892c7;
  border-bottom: 4px solid #3b97ca;
}

.task-tab li:hover {
  cursor: pointer;
}
 
.task {
  display: flex;
  justify-content: space-between;
  border: 1px solid #53b5e2;
  border-top: none;
  padding: 8px;
  align-items: center;
}

.t-done {
  background: #e8e8e8;
}

.task-done {
  text-decoration: line-through;
}

.check-btn {
  border: 1px solid #22adff;
  color: #fff;
  background: #22adff;
}

.check-btn:hover, .check-btn:focus {
  border: 1px solid #3892c7;
  background: #3892c7;
}

.delete-btn {
  border: none;
  background: none;
}

.delete-btn:hover, .delete-btn:focus {
  background: #f0f0f0;
}